.sign-in-body {
    text-align: center;
    background-color: black;
    height: 120%;
}
.s-i-title {
    color: white;
    padding-right: 2vmin;
}
.sign-out-btn {
  height: 50px;
  border-radius: 50%;
  border-style: double;  
  font-size: larger;
  font-weight: 700;  
}
.link {
    color: #684756;
}
.vids {
    margin-left: calc(50vw - 10px);
}

.link:hover {
    color:white;
    text-decoration: none;
  } 

  .input-title {
    color: white;
    margin-right: 2vmin;
  }