.sign-in-body {
    text-align: center;
    background-color: black;
    height: 100vh;
}
.s-i-title {
    color: white;
}
.sign-out-btn {
  height: 50px;
  border-radius: 50%;
  border-style: double;  
  font-size: larger;
  font-weight: 700;  
}
.link {
    color: #684756;
}